body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

#navbar {
    display: flex;
    justify-content: center;
}

#navbar.open {
    display: block;
}

#title {
    margin: 0;
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul.open {
        display: block;
        float: none;
    }

    nav ul li {
        float: none;
    }
}

/* New styles for better readability */
main {
    padding: 40px;
    max-width: 1024px;
    margin: 0 auto 50px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    margin-top: 20px;
}

h2, h3, h4 {
    color: #333;
    margin-top: 20px;
}

h1 {
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-size: 32px;
    margin-top: 30px;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    margin-top: 15px;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}